<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.kimunz.project.mapper.ProductMapper">
    <resultMap id="productMap" type="me.kimunz.project.entity.Product">
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="productType" column="product_type"/>
        <result property="description" column="description"/>
        <result property="stock" column="stock"/>
        <result property="price" column="price"/>
    </resultMap>
    <insert id="addProduct">
        insert
        into
        product(product_name, product_type, description, stock, price)
        values(#{productName}, #{productType}, #{description}, #{stock}, #{price})
    </insert>
    <select id="getProductList" resultMap="productMap">
        select * from product
    </select>
    <select id="getProductById" resultMap="productMap">
        select *
        from product
        where product_id = #{productId}
    </select>
    <update id="updateProduct">
        update
        product
        set
        product_name = #{productName}, product_type = #{productType},
        description = #{description}, stock = #{stock}, price = #{price}
        where product_id = #{productId}
    </update>
    <delete id="deleteProduct">
        delete from product
        where product_id = #{productId}
    </delete>
</mapper>